.task-card_width {
    flex-basis: 100%;
}

@media screen and (min-width: 700px){
    .task-card_width {
        flex-basis: 48.3%;
    }
}

@media screen and (min-width: 1024px){
    .task-card_width {
        flex-basis: 32%;
    }
}
@media screen and (min-width: 1200px){
    .task-card_width {
        flex-basis: 24%;
    }
}